@model inside_airbnb.Models.Listing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeighbourhoodGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeighbourhoodGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Neighbourhood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Neighbourhood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumNights)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumNights)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfReviews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfReviews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewsPerMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewsPerMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalculatedHostListingsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalculatedHostListingsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability365)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability365)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfReviewsLtm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfReviewsLtm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.License)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.License)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
