@model IEnumerable<inside_airbnb.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScrapeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastScraped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeighborhoodOverview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostSince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostAbout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostResponseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostResponseRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostAcceptanceRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostIsSuperhost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostThumbnailUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostPictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostNeighbourhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostListingsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostTotalListingsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostVerifications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostHasProfilePic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostIdentityVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighbourhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeighbourhoodCleansed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NeighbourhoodGroupCleansed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accommodates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BathroomsText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumMinimumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumMinimumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumMaximumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumMaximumNights)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumNightsAvgNtm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumNightsAvgNtm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasAvailability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability60)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability90)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability365)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalendarLastScraped)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfReviews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfReviewsLtm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfReviewsL30d)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewScoresRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewScoresAccuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewScoresCleanliness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewScoresCheckin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewScoresCommunication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewScoresLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewScoresValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstantBookable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedHostListingsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedHostListingsCountEntireHomes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedHostListingsCountPrivateRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalculatedHostListingsCountSharedRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewsPerMonth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListingUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastScraped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeighborhoodOverview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostSince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostAbout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostResponseTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostResponseRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostAcceptanceRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostIsSuperhost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostThumbnailUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostPictureUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostNeighbourhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostListingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostTotalListingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostVerifications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostHasProfilePic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostIdentityVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighbourhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeighbourhoodCleansed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NeighbourhoodGroupCleansed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accommodates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BathroomsText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumMinimumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumMinimumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumMaximumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumMaximumNights)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumNightsAvgNtm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumNightsAvgNtm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalendarUpdated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasAvailability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability60)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability90)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability365)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalendarLastScraped)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfReviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfReviewsLtm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfReviewsL30d)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScoresRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScoresAccuracy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScoresCleanliness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScoresCheckin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScoresCommunication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScoresLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewScoresValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstantBookable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalculatedHostListingsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalculatedHostListingsCountEntireHomes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalculatedHostListingsCountPrivateRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalculatedHostListingsCountSharedRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewsPerMonth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
